/* GENERAL & TYPOGRAPHY */
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Maven Pro", sans-serif;
  --color-primary: #0a846e;
  --color-secondary: #9e6d52;
  --color-red: #b93857;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

header,
h1,
h3,
.button-cta {
  font-family: var(--font-secondary);
}

a {
  text-decoration: none;
  color: black;
}

/* CTA BUTTON */
a.button-cta {
  color: white;
  background-color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  display: block;

  &:hover {
    background-color: var(--color-secondary);
    transform: scale(1.1);
  }
}

/* BODY */
body {
  font-family: var(--font-primary);
  color: black;

  /* HEADER */
  header {
    position: relative;
    /* HERO */
    .hero {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      aspect-ratio: 2 / 1;

      figure {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;

        &.logo {
          grid-row: span 2;
          background: black
            url("https://images.unsplash.com/photo-1615671524701-9c3dde8fdaa0?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
            center / cover;

          img {
            width: 50%;
          }
        }

        &.seedling {
          background-color: var(--color-secondary);
        }

        &.dig {
          background-color: var(--color-primary);
        }

        img {
          height: 100%;
        }
      }
    }

    /* NAV DESKTOP */
    nav {
      .links {
        display: flex;
        justify-content: space-evenly;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

        a {
          color: var(--color-primary);
          font-weight: 500;
          font-size: 1.2rem;
          text-transform: uppercase;
          padding: 1rem;
          transition: all 0.3s;

          &:hover {
            color: var(--color-secondary);
            transform: scale(1.1);
          }
        }
      }

      /* NAV MOBILE */
      .links-mobile {
        height: 2rem;
        margin: 0.5rem;
        position: absolute;
        top: 0;
        right: 0;
        display: none;

        img {
          height: 100%;
        }
      }
    }
  }

  /* MAIN */
  main {
    padding: 0 2rem;
    max-width: 1200px;
    margin: 0 auto;

    & > * {
      margin: 3rem 0;
    }

    h1 {
      color: var(--color-primary);
      font-weight: 500;
      text-transform: uppercase;
      font-size: 3rem;
      text-align: center;
    }

    /* SIDE BY SIDE SECTION */
    .side-by-side {
      display: flex;
      padding: 0 1rem;

      & > * {
        flex: 1 0 0;
      }

      .image {
        figure {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 3rem;
          border-radius: 50%;
          background-color: var(--color-primary);
          aspect-ratio: 1 / 1;

          img {
            width: 50%;
            height: 50%;
          }
        }

        &:last-child figure {
          margin-left: 3rem;
          margin-right: 0;
        }
      }

      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
          font-size: 2rem;
          font-weight: 700;
        }

        p {
          font-size: 1rem;
          padding: 1rem 0;
        }

        .button-cta {
          align-self: flex-start;
        }

        &:last-child .button-cta {
          align-self: flex-end;
        }
      }
    }

    /* GALLERY SECTION */
    .planned-planting {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      hr {
        border: 2px solid var(--color-primary);
        border-radius: 2px;
        margin: 3rem 0 4rem;
        width: 20rem;
      }

      h3 {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 2rem;
      }

      .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem 1.5rem;
        margin-bottom: 3rem;

        .card {
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
          figure {
            position: relative;
            aspect-ratio: 1 / 1;
            img.background {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
            img.icon {
              width: 70%;
              height: 70%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }

          .card-caption {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem 0;
            padding: 1rem;
            align-items: end;

            h4.plant {
              font-weight: 600;
              font-size: 1.5rem;
            }

            p.planted-date {
              font-weight: 700;
              justify-self: end;
            }

            p.planted-by {
              font-family: var(--font-secondary);
            }

            a.button-remove {
              font-family: var(--font-secondary);
              font-weight: 600;
              text-transform: uppercase;
              color: white;
              background-color: var(--color-red);
              padding: 0.5rem 1rem;
              border-radius: 0.4rem;
              justify-self: end;
              transition: all 0.3s;
              display: block;

              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }

  /* FOOTER */
  footer {
    margin-top: 6rem;
    .contact {
      display: flex;
      background: url("https://images.unsplash.com/photo-1586281010691-f9da4be5b1f7?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
        center / cover;
      color: white;
      height: 40rem;

      & > * {
        flex: 1;
      }

      .contact-caption {
        background-color: rgba(0, 0, 0, 0.7);
        display: grid;
        grid-template-rows: 1fr min-content;
        align-items: center;
        justify-items: center;

        h2 {
          font-size: 3rem;
          font-weight: 600;
        }

        address {
          width: 100%;
          padding: 0 2rem 2rem 2rem;
          display: flex;
          justify-content: space-between;

          section {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-style: normal;
          }
        }
      }

      figure.logo {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 50%;
        }
      }
    }

    .back-to-top {
      padding: 1rem;
      text-align: center;
      font-size: 1.2rem;
    }
  }
}
