/* FONTS IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* VARIABLES */
:root {
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Maven Pro", sans-serif;
  --font-tertiary: "Lato", sans-serif;
  --color-primary: #0a846e;
  --color-secondary: #9e6d52;
  --color-red: #b93857;
}

/* GENERAL */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  color: black;
  background-color: #fcf6fc;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

/* CTA BUTTON */
a.button-cta,
button.button-cta {
  color: white;
  background-color: var(--color-primary);
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 0.7rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  display: block;
  border: none;

  &:hover {
    background-color: var(--color-secondary);
    transform: scale(1.1);
  }

  @media (max-width: 768px) {
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
  }
}

/* PAGE CONTENT */
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 10rem;
  background-color: white;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);

  @media (max-width: 1000px) {
    margin-bottom: 0;
  }

  /* HEADER */
  header {
    position: relative;
    font-family: var(--font-secondary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    /* HERO */
    .hero-gallery {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      aspect-ratio: 2 / 1;

      @media (max-width: 768px) {
        aspect-ratio: 2 / 3;
      }

      figure {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;

        &.logo {
          grid-row: span 2;
          background: black
            url("https://images.unsplash.com/photo-1615671524701-9c3dde8fdaa0?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
            center / cover;

          @media (max-width: 768px) {
            grid-column: span 2;
          }

          img {
            width: 50%;
          }
        }

        &.seedling {
          background-color: var(--color-secondary);
        }

        &.dig {
          background-color: var(--color-primary);
        }

        img {
          height: 100%;

          @media (max-width: 768px) {
            height: auto;
            width: 80%;
          }
        }
      }
    }

    /* NAV */
    nav {
      /* NAV DESKTOP */
      .links {
        display: flex;
        justify-content: space-evenly;

        @media (max-width: 768px) {
          display: none;
        }

        a {
          color: var(--color-primary);
          font-weight: 500;
          font-size: 1.2rem;
          text-transform: uppercase;
          padding: 1rem;
          transition: all 0.3s;

          &:hover {
            color: var(--color-secondary);
            transform: scale(1.1);
          }
        }
      }

      /* NAV MOBILE */
      .links-mobile {
        height: 2rem;
        margin: 0.5rem;
        position: absolute;
        top: 0;
        right: 0;
        display: none;

        @media (max-width: 768px) {
          display: block;
        }

        img {
          height: 100%;
          cursor: pointer;
        }
      }
    }
  }

  /* MAIN */
  main {
    padding: 0 2rem;

    @media (max-width: 768px) {
      padding: 0 1rem;
    }

    & > * {
      margin: 3rem 0;
    }
    /* TITLE H1 */
    h1 {
      color: var(--color-primary);
      font-family: var(--font-secondary);
      font-weight: 500;
      text-transform: uppercase;
      font-size: 3rem;
      text-align: center;

      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }

    /* SIDE BY SIDE SECTION */
    .side-by-side {
      display: flex;
      padding: 0 1rem;

      @media (max-width: 768px) {
        padding: 0;
      }

      @media (max-width: 768px) {
        flex-direction: column-reverse;
        align-items: center;
        gap: 4rem;
      }

      & > * {
        flex: 1 0 0;
      }

      /* SIDE BY SIDE IMAGE */
      .image {
        @media (max-width: 768px) {
          width: 80%;
        }

        figure {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 3rem;
          border-radius: 50%;
          background-color: var(--color-primary);
          aspect-ratio: 1 / 1;

          @media (max-width: 768px) {
            margin: 0;
          }

          img {
            width: 50%;
            height: 50%;
          }
        }

        &:last-child figure {
          margin-left: 3rem;
          margin-right: 0;

          @media (max-width: 768px) {
            margin: 0;
          }
        }
      }

      /* SIDE BY SIDE TEXT */
      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: 768px) {
          text-align: center;
        }

        h2 {
          font-size: 2rem;
          font-weight: 700;

          @media (max-width: 768px) {
            font-size: 1.2rem;
          }
        }

        p {
          font-size: 1rem;
          padding: 1rem 0;
        }

        .button-cta {
          align-self: flex-start;

          @media (max-width: 768px) {
            align-self: center;
          }
        }

        &:last-child .button-cta {
          align-self: flex-end;

          @media (max-width: 768px) {
            align-self: center;
          }
        }
      }
    }

    /* GALLERY SECTION */
    .planned-planting {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      hr {
        border: 2px solid var(--color-primary);
        border-radius: 2px;
        margin: 3rem 0 4rem;
        width: 20rem;
      }

      h3 {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 2rem;
        font-family: var(--font-secondary);

        @media (max-width: 768px) {
          font-size: 1.5rem;
        }
      }

      /* CARD GALLERY */
      .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem 1.5rem;
        margin-bottom: 3rem;

        @media (max-width: 768px) {
          grid-template-columns: 1fr 1fr;
          gap: 1rem;
        }

        /* CARD */
        .card {
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);

          /* CARD IMAGE */
          figure {
            position: relative;
            aspect-ratio: 1 / 1;

            img.background {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }

            img.icon {
              width: 70%;
              height: 70%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }

          /* CARD CAPTION */
          .card-caption {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem 0;
            padding: 1rem;
            align-items: center;

            h4.plant {
              font-weight: 600;
              font-size: 1.5rem;
              font-family: var(--font-tertiary);

              @media (max-width: 900px) {
                font-size: 1.3rem;
              }
              @media (max-width: 768px) {
                font-size: 1.1rem;
              }
            }

            p.planted-date {
              font-weight: 700;
              text-align: right;
              justify-self: end;

              @media (max-width: 768px) {
                font-size: 0.8rem;
              }
              @media (max-width: 480px) {
                font-size: 0.7rem;
              }
            }

            p.planted-by {
              font-family: var(--font-tertiary);

              @media (max-width: 768px) {
                font-size: 0.8rem;
              }
              @media (max-width: 480px) {
                font-size: 0.7rem;
              }
            }

            /* CARD REMOVE BUTTON */
            a.button-remove {
              font-family: var(--font-secondary);
              font-weight: 600;
              font-size: 0.9rem;
              text-transform: uppercase;
              color: white;
              background-color: var(--color-red);
              padding: 0.5rem 1rem;
              border-radius: 0.4rem;
              justify-self: end;
              transition: all 0.3s;
              display: block;

              &:hover {
                transform: scale(1.1);
              }

              @media (max-width: 900px) {
                font-size: 0.8rem;
              }
              @media (max-width: 768px) {
                display: none;
              }
            }
            /* CARD REMOVE BUTTON MOBILE */
            img.remove {
              width: 1.5rem;
              height: 1.5rem;
              justify-self: end;
              display: none;
              cursor: pointer;
              transition: all 0.3s;

              &:hover {
                transform: scale(1.1);
              }

              @media (max-width: 768px) {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  /* FOOTER */
  footer {
    margin-top: 6rem;

    /* CONTACT */
    .contact {
      display: flex;
      background: url("https://images.unsplash.com/photo-1586281010691-f9da4be5b1f7?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
        center / cover;
      color: white;
      height: 35rem;

      @media (max-width: 768px) {
        flex-direction: column-reverse;
        height: 60rem;
      }

      & > * {
        flex: 1;
      }

      .contact-caption {
        background-color: rgba(0, 0, 0, 0.7);
        display: grid;
        grid-template-rows: 1fr min-content;
        align-items: center;
        justify-items: center;
        font-family: var(--font-secondary);

        h2 {
          font-size: 3rem;
          font-weight: 500;

          @media (max-width: 768px) {
            font-size: 2rem;
          }
        }

        address {
          width: 100%;
          padding: 0 2rem 2rem 2rem;
          display: flex;
          justify-content: space-between;

          @media (max-width: 768px) {
            font-size: 0.9rem;
          }

          section {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-style: normal;

            img {
              height: 2rem;

              @media (max-width: 768px) {
                height: 1.5rem;
              }
            }
          }
        }
      }

      /* CONTACT LOGO */
      figure.logo {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 50%;
        }
      }
    }

    /* BACK TO TOP */
    .back-to-top {
      padding: 1rem;
      text-align: center;
      font-size: 1.2rem;

      @media (max-width: 768px) {
        font-size: 0.8rem;
        padding: 1.5rem;
      }
    }
  }
}

/* MINA SIDOR PAGE */
.wrapper.mina-sidor {
  /* HEADER */
  header {
    .hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      align-items: center;
      background: url("https://images.unsplash.com/photo-1586281010691-f9da4be5b1f7?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
        center / cover;
      height: 25rem;

      h1 {
        font-size: 2.5rem;
        font-weight: 500;
        color: white;
      }
    }
  }
  main {
    .planned-planting {
      @media (max-width: 768px) {
        margin-top: 1rem;
      }

      .new-planting {
        margin-bottom: 5rem;
        align-self: flex-start;
        width: 100%;

        h2 {
          font-weight: normal;
          font-size: 2rem;
          margin-bottom: 1.5rem;

          @media (max-width: 768px) {
            text-align: center;
          }
        }

        form {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto auto;
          grid-auto-flow: column;
          gap: 0 2rem;

          @media (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-auto-flow: row;
          }

          input {
            border: none;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            padding: 1rem;
            border-radius: 0.4rem;
            font-size: 1rem;
          }

          button {
            grid-row: -1 / span 1;
            grid-column: 1 / -1;
            margin-top: 2rem;
            justify-self: center;

            @media (max-width: 768px) {
              grid-row: 5 / span 1;
            }
          }
        }
      }
    }
  }

  /* FOOTER */
  footer {
    margin-top: 2rem;
    .img-gallery {
      background-color: var(--color-secondary);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1rem;
      padding: 2rem;

      @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
        padding: 1.5rem;
      }

      figure.image {
        aspect-ratio: 3/4;
        opacity: 0.7;

        @media (max-width: 768px) {
          aspect-ratio: 2/1;
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
